<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <div id="video-container">
        <video autoplay muted loop>
            <source src="static/videos/bgvideo.mp4" type="video/mp4">
            <!-- Add additional source elements for different video formats -->
            Your browser does not support the video tag.
        </video>
    </div> <!-- Close the video-container div here -->
    <div class="container">
        <h2>Register</h2>
        <form action="/register" method="POST">
            <div class="form-group">
                <input type="text" id="first_name" name="first_name" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <input type="text" id="last_name" name="last_name" placeholder="Last Name" required>
            </div>
            <div class="form-group">
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
